html {
    background-color: lightgoldenrodyellow;
    font-family: --apple-system, sans-serif;
}
input {
    width: 99%;
}

.controls {
	display: flex;
	width: 100%;
}

.controls div {
	width: 100%;
	padding: 10px;
}