html {
    background-color: lightgoldenrodyellow;
    font-family: --apple-system, sans-serif;
}
input {
    width: 99%;
}

.header {
	margin-bottom: 10px;
	padding-left: 10px;
}

.controls {
	display: flex;
	width: 100%;
}

.controls div {
	width: 100%;
	padding: 10px;
}

.controls p {
	margin-top: 0;
}